@{
  Layout = "_Layout";
}

@model BakeryShop.Models.Treat
<div class="min-h-screen py-6 flex flex-col justify-center sm:py-12 bg-gray-400">
  <div class="relative py-3 max-w-screen mx-auto">
    <div class="object-center ">
      <h2>Are you sure you want to remove this Treat?</h2>

      @Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.TreatName)
      @using (Html.BeginForm())
      {
        <input type="submit" value="Delete" />
      }
      @Html.ActionLink("Return to Treats index", "Index")
    </div>
  </div>
</div>